
.sliderTabs {
    display           : inline-block;
    height            : 20px;
    width             : 100px;
    border            : 2px solid #000;
    text-align        : center;
    cursor            : pointer;
    background-color  : #EBECE4;

  }

#main {
    margin            : 0px;
    padding-left      : 5px;
    border            : 1px solid #000;
    color             : #FFF;
    height            : 300px;
    width             : 400px;
    background-color  : #272822;
    position          : absolute;
    display           : inline-block;
    z-index           : 3;
  
  
  
}
#halfSlider {
    margin            : 0px;
    padding-left      : 5px;
    border            : 1px solid #000;
    color             : #FFF;
    height            : 300px;
    width             : 400px;
    position          : absolute;
    background-color  : #353f50;
    z-index           : 2;
}
#thirdSlider {
    margin            : 0px;
    padding-left      : 5px;
    border            : 1px solid #000;
    color             : #FFF;
    height            : 300px;
    width             : 400px;
    position          : absolute;
    background-color  : #55acdb;
    z-index           : 1;
}

* {
 font-family      : Georgia; 
 background-color  : #3F3F3F;
}