/* Main CSS */
#wrapper {
  border: 2px solid #000;
  margin: 50px;
}
/* Nav Pane CSS */
.tabs {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 24px;
  /* Used for having a line under boxes */

  position: relative;
}
.tabs:before {
  /* Moves selected element to the front */

  z-index: 1;
}
.tabs:after {
  position: absolute;
  content: "";
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #AAA;
  z-index: 1;
}
.tabs li {
  margin: 0 10px;
  padding: 0 10px;
  display: inline-block;
  border: 1px solid #AAA;
  background: #D1D1D1;
  /* Moves selected element to the front */

  position: relative;
  z-index: 0;
  /* Move some borders and add radius */

  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  /* Bending the border */

}
.tabs li.selected {
  background: #FFF;
  color: #000;
  font-weight: bold;
  /* Moves selected element to the front */

  z-index: 2;
  border-bottom-color: #FFF;
}
.tabs li:before,
.tabs li:after {
  position: absolute;
  bottom: -1px;
  width: 6px;
  height: 6px;
  content: " ";
}
.tabs li:before {
  left: -6px;
  /* Move some borders and add radius */

  border-bottom-right-radius: 6px;
  border-width: 0 1px 1px 0;
  box-shadow: 2px 2px 0 #D1D1D1;
}
.tabs li:after {
  right: -6px;
  /* Move some borders and add radius */

  border-bottom-left-radius: 6px;
  border-width: 0 0 1px 1px;
  box-shadow: -2px 2px 0 #d1d1d1;
}
.tabs li:after,
.tabs li:before {
  border: 0px solid #AAA;
}
.tabs-two li {
  display: inline;
}
.tabs-two li a {
  color: black;
  float: left;
  display: block;
  padding: 4px 10px;
  margin-left: -1px;
  posiiton: relative;
  left: 1px;
  background: white;
  text-decoration: none;
}
.nav {
  margin-left: 600px;
  margin-top: 200px;
  border: 1px solid #000;
  -moz-transform: rotate(90deg);
  height: 50px;
  width: 400px;
}
/* Body Pane CSS */
#bodyPane {
  /* Used for the tabs */

  clear: both;
}
.main {
  margin: 0px;
  padding: 5px;
  border: 3px solid red;
  color: #FFF;
  height: 300px;
  width: 400px;
}
#main {
  margin: 0px;
  padding: 5px;
  border: 3px solid red;
  color: #FFF;
  height: 300px;
  width: 400px;
  background-color: #272822;
  float: left;
  display: inline;
  position: relative;
  left: 40px;
}
#halfSlider {
  margin: 0px;
  padding: 5px;
  border: 3px solid red;
  color: #FFF;
  height: 300px;
  width: 400px;
  background-color: #353f50;
}
#thirdSlider {
  margin: 0px;
  padding: 5px;
  border: 3px solid red;
  color: #FFF;
  height: 300px;
  width: 400px;
  background-color: #55acdb;
}
